*
{
  margin:0;
  padding: 0;
}

body
{
  
  background-color:rgba(255, 160, 60, 0.4);
}

.App {
 font-family: 'Trebuchet MS';
 line-height: 2rem;
 margin: 1rem auto;
 max-width: 600px;
 
}

.appMargins
{
  margin-left:.5rem;
  margin-right:.5rem;
  margin-bottom:.5rem;
}

.divHomeP
{
  padding: 1rem 2rem;
  text-align:justify;  
  font-weight: bolder;
  font-size: 1rem;
  background-color: rgba(255, 160, 60, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.8);
  margin-bottom:1rem;
}

.strikeThrough
{
  text-decoration: line-through;
  font-weight:lighter;
  margin: 0rem .3rem;
  padding:.5rem;
}

.decorateTxt
{
 
/* background-color: white; */
/* color: rgba(255, 160, 60, 0.4); */
  border: 1px solid;
  border-radius: .3rem;
}

.common-IO-display
{
  display:grid;
  grid-template-columns: auto auto auto auto;
  grid-gap:10px;
  background-color: rgba(255, 160, 60, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.8);
  
}

.common-IO
{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 2rem; 
  text-align: center;
  width: 100%;
  padding: 1rem 0;
  font-size: 1rem;
}

.emojis-display
{
  display: grid;
  grid-template-columns: auto auto auto auto;
  overflow: hidden;
  background-color: rgba(255, 160, 60, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.grid-item {
  font-size: 3rem;
  cursor:pointer;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8); 
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius:50%;
  width: 4rem;
  padding:1rem 0;
  grid-gap:1rem;
  margin:auto;
}
